services:
  postgres:
    image: postgres:16
    container_name: binalite-postgres
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app12345
      POSTGRES_DB: myapp
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    volumes:
      - minio-data:/data

volumes:
  pgdata:
  minio-data: